<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="APDB Web App">

        <!-- Import CSS stylesheet --> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> 
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- Import Bootstrap JS plugins --> 
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <!-- Import JS libraries --> 
        <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>  
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> <!--download icon-->
        <script src="https://3dmol.csb.pitt.edu/build/3Dmol.js"></script>

        <!-- Import JS scripts --> 
        <script src="{{ url_for('static', filename='js/browseTables.js') }}"></script>
        <script src="{{ url_for('static', filename='js/PDBgen.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/downloads.js') }}"></script>
    </head>
    
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggle">
                <ul class="navbar navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/apdb/home" target="_self">Home<span class="sr-only">(current)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apdb/statistics" target="_self">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apdb/documentation" target="_self">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apdb/downloads-contacts" target="_self">Downloads/Contacts</a>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="content">     
              
            <h3 class="panel-title">Target information</h3>

                <div class="row"> 

                    <div class="col-md-2" id="rightCol"></div>
                    <div class="col-sm-8 col-md-6 col-lg-4">

                        <h4>{{ targets[0][5] }}</h4>
                        <div id="3dmolviewer_UNIQUEID" value="{{ pdb }}" style="width:400px; height:340px; position: relative; display:none"></div>

                        <div id="alphafold" style="display: none">
                            No structure available in the PDB.<br><br><dt>AlphaFold structure prediction:</dt>
                            <a href='https://www.alphafold.ebi.ac.uk/search/text/{{ targets[0][5] }}' target="_blank">www.alphafold.ebi.ac.uk/search/text/{{ targets[0][5] }}</a>
                        </div>

                    </div> <!-- col-sm-8 col-md-6 col-lg-4 -->

                    <div class="col-md-2" id="rightCol"></div>
                    <div class="col-sm-8 col-md-2 col-lg-4">

                        <dl class="dl-horizontal" style="margin-top: 70px;">

                            <dd>
                                <dt>UniProtKB</dt><a id="uniprotkb">{{ targets[0][6] }}</a>
                            </dd>

                            <dd>
                                <dt>Target GeneID</dt>{{ targets[0][4] }}
                            </dd>

                            <dd>
                                <dt>PDB Resolution</dt>{{ targets[0][8] }}
                            </dd>
                            
                            <dd>
                                <dt id="download_header"><strong>Download</strong></dt>
                                <a id="pdb_download" class="download">
                                    <strong><span class="glyphicon glyphicon-download-alt">PDB</span></strong>
                                </a>
                            </dd>

                        </dl> 

                    </div> <!-- col-sm-8 col-md-2 col-lg-4 -->
                </div>  <!-- row -->

                <h4>Associated molecules</h4>
                <div class="row justify-content-center">

                    <div class="col-sm-12 col-md-12 col-lg-9">
                        <table class="table table-hover" id="molecules_target_table"> 

                            <thead>
                                <tr>
                                    <th style="width: 12%">
                                        <form action="/apdb/home/browse-targets/download?symbol={{ targets[0][5] }}" method="post">
                                             CID
                                            <button class="fa fa-download fa-lg" id="molecules_download" title="Click to download"></button>
                                            <input type="hidden" name="molecules_download" value="{{ molecules }}">
                                        </form>
                                    </th>

                                    <th style="width: 32%">Chemical Name</th>
                                    <th style="width: 24%">Molecular Formula</th>
                                    <th style="width: 32%">Canonical SMILES</th>

                                    </form>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for row in molecules %} 
                                <tr>
                                    <td><a role="link">{{ row[0] }}</a></td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table> <!-- table -->
                    </div>  <!-- col-sm-12 col-md-12 col-lg-8 -->
                </div>  <!-- row -->
            </div> <!-- content -->
        </div> <!-- container -->
    </body>
</html>
